.row{
    margin: 20px;
    column-gap: px;
}
.a{
    height: 40px;
    text-align: center;
    background-color: orangered;
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 5px;

}
.b{
    height: 40px;
    text-align: center;
    background-color: orangered;
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.c{
    height: 40px;
    text-align: center;
    background-color: orangered;
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.d{
    height: 40px;
    text-align: center;
    background-color: orangered;
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.e{
    height: 40px;
    text-align: center;
    background-color: orangered;
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.f{
    height: 40px;
    text-align: center;
    background-color: orangered;
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.g{
    height: 40px;
    text-align: center;
    background-color: orangered;
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.h{
    height: 40px;
    text-align: center;
    background-color: orangered;
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.i{
    height: 40px;
    text-align: center;
    background-color: orangered;
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 5px;

}
.k{
    height: 40px;
    text-align: center;
    background-color: orangered;
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.l{
    height: 40px;
    text-align: center;
    background-color: orangered;
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 5px;
    column-gap: 5px;
}