.box{
    margin: 50px auto;
}
.a{
    background-color: blueviolet;
    color: #696969;
    height: 40px;
    text-align: center;
    border: 2px solid white;
}
.b{
    background-color: blueviolet;
    color: #696969;
    height: 40px;
    text-align: center;
    border: 2px solid white;
}
.d{
    background-color: blueviolet;
    color: #696969;
    height: 40px;
    text-align: center;
    border: 2px solid white;
}
.c{
    background-color: blueviolet;
    color: #696969;
    height: 40px;
    text-align: center;
    border: 2px solid white;
}
.e{
    background-color: blueviolet;;
    height: 40px;
    text-align: center;
    border: 2px solid white;
}
.aa{
    background-color: blueviolet;
    height: 40px;
    text-align: center;
    border: 2px solid white;
}
.bb{
    background-color: blueviolet;
    height: 40px;
    text-align: center;
    border: 2px solid white;
}
.cc{
    background-color: blueviolet;
    height: 40px;
    text-align: center;
    border: 2px solid white;
}